html {
    background-color: rgb(133, 133, 255);
}

body {
    width: 300px;
    margin: 50px auto;
    background-color: #FF9500;
    padding: 0px 20px 15px 20px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 20px 0;
    background-color: #FF9500;
    color: black;
    /* text-shadow: 2px 2px 1.5px rgb(190, 190, 190); */
    text-align:center;
}

form {
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

textarea[name], input[value] {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input {
    margin-top: 5px;
    padding: 5px;
}


input:hover {
    color: rgb(133, 133, 255);
    text-decoration: underline;
}

textarea::placeholder {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

