<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h2>To Do List</h2>
    <div>
        <ul>
            {% for todo in todo_list %}
            <li>
                <div class="box">
                    <a href="{% url 'detail' todo.pk %}">
                        <div class="title"><span class="dday">[D-{{ todo.remain }}] </span><span>{{ todo.title }}</span></div>
                        <div class="deadline">{{ todo.deadline }}까지!</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a class="btn" href="{% url 'new' %}">새로운 투두 만들기</a> 
    </div>
</body>
</html>