<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>글 작성 페이지</h2>
    <form action="/new" method="post">
        {% csrf_token %}
        <div>
            <div>제목을 작성하세요.</div>
            <input type="text" name="title">
        </div>

        
        <div>
            <div>내용을 작성하세요.</div>
            <textarea name="content" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">작성 완료</button>
    </form>
</body>
</html>