.entire {
}

.container1 {
    display: flex;
    flex-direction: row;
    order: 1;
}

.container2 {
    display: flex;
    flex-direction: row;
    order: 2;
    position: relative;
    left: 150px;
}

.box {
    height: 50px;
    width: 50px;
    background-color: rgb(110, 110, 210);
    border-radius: 5px;
}