<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
</head>

<body>
    <div class="container">
        <h2>{{category}} 글 목록</h2>
    </div>

    <div class="container">
        <ul>
            {% for article in articles %}
            <li>
                <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="atag">
        <a href="{% url 'list' %}">전체 목록으로 돌아가기</a>
    </div>

</body>

</html>