<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
</head>
<body>
    <div class="container">
        <h2>글 쓰기 페이지</h2>
    </div>

    <div class="container">
        <form action="/new" method="post">
            {% csrf_token %}
            <div class="box">
                <div class="title">글 제목</div>
                <input type="text" name="title" />
            </div>
            <br>

            <div class="box">
                <div class="title">카테고리</div>

                <select name="category">
                    <option value="Hobby">Hobby</option>
                    <option value="Food">Food</option>
                    <option value="Programming">Programming</option>
                </select>
            </div>
            <br>

            <div class="box">
                <div class="title">글 내용</div>
                <textarea name="content" placeholder="자세한 내용을 적어봐요" cols="32" rows="10"></textarea>
            </div>

            <div class="box">
                <button type="submit">작성 완료</button>
            </div>
        </form>   
    </div>
</body>
</html>